*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-size: 14px;
    background-color:#f2f2f2 ;
}
.container
{
    background-color: white;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px  5px rgba(0, 0, 0, 0.5);
}

    .input-name input{
     color: red;
    }
 
.container h2{
    font-size: 24px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}
.input-name
{
    width: 90%;
    position:relative;
    margin: 20px auto;
}

.name{
 width: 45%;
 padding: 8px 0 8px 40px;
}
.input-name span
{
    margin-left: 35px;
}
.text-name
{
    width: 100%;
    padding: 8px 0 8px 40px;
}
@media only screen and (max-width: 600px) {
    .input-name input{
     color: red;
    }
 }
.text-name,.name{
    border: 1px solid #cccccc;
}